@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh auto;
}


.header{
    background: url("../image/mobilep/image-header.jpg") no-repeat bottom/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__h1{
        margin-top: -15vh;
        margin-bottom: 10%;
        font-family: 'Fraunces', serif;
        color: white;
        font-size: 15vw;
        text-align: center;

    }

    &__img{
        position:absolute;
        top:10px;
        left:10px;
    }
    &__menu{
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

    &__menu a{
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }



    &__menu input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; 
        z-index: 2;
        -webkit-touch-callout: none;

    }

    &__menu span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
    
    &__menu input:checked ~ ul{
        transform: none;
        opacity: 100%;
        transition: all ease-in-out 0.2s;
    }

    .nav__menu{
        clip-path: polygon(0 11%, 90% 11%, 100% 0, 100% 100%, 75% 100%, 51% 100%, 0 100%);
        position: absolute;
        width: 300px;
        margin: 30px 0px 0 -300px; //-525
        padding: 50px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        opacity: 0%;
    }

    & li{
        padding: 2%;
        a{
                padding: 5%;
                font-family: 'Barlow', sans-serif;
            &:hover{
                background: hsl(51, 100%, 49%);
                border-radius: 25px;
            }
        }
    }

    
}

.essential{
    display: grid;
    grid-template-rows: auto auto auto auto 1fr 1fr;
    &__image{
        width: 100%;
    }
    &__size{
        margin: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        *{
            padding-top: 5%;
            padding-bottom: 5%;
        }
            h2, a{
           font-family: 'Fraunces', serif;
            text-decoration: none;
            color:hsl(212, 27%, 19%);
        }
        p{
            font-family: 'Barlow', sans-serif;
            color: hsl(210, 4%, 67%);
        }
        a:after{
            content: "";
            display: block;
            border-bottom: solid 10px hsl(51, 100%, 83%);
            width: 100%;
            margin-top: -0.75vh;
            width: 110%;
            margin-left: -5%;
            border-radius: 25px;
            opacity: 0.50;
        }
        #other:after{
            border-bottom: solid 10px hsl(290, 100%, 89%);

        }
    }
    #a{
        background: url("../image/mobilep/image-graphic-design.jpg") no-repeat center/cover;
        height: 70vh;
    }
    #b{
        background: url("../image/mobilep/image-photography.jpg") no-repeat center/cover
    }
}


.client{
    text-align: center;
    img{
        border-radius: 100%;
        width: 25%;
        margin-bottom: 10%;
    }
    &__div{
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        h2{
            padding-top: 10%;
        }
        
        }
    h2{
        color:hsl(210, 4%, 67%);
        font-family: 'Fraunces', serif;
    }
    h3{ 
        font-family: 'Fraunces', serif;
        color:hsl(212, 27%, 19%)
    }
    p{
        color:hsl(212, 27%, 19%);
        font-family: 'Barlow', sans-serif;
        
    }
    #grey{
        color: hsl(210, 4%, 67%);
        font-family: 'Barlow', sans-serif;
    }
    #greydark{
        color: hsl(210, 1%, 47%);
    }
}

#a{
    padding-top: 45vh;    
    text-align: center;
    h2{
        color:hsl(167, 40%, 24%);   
        font-family: 'Fraunces', serif;
    }
    p{
        font-family: 'Barlow', sans-serif;
        color:hsl(167, 40%, 24%);
        margin-left: 7.5%;
        margin-right: 7.5%;

    }
}
#b{
    @extend #a;
    h2{
        color:hsl(198, 62%, 26%);
    }
    p{
        color:hsl(198, 62%, 26%);
        

    }
}

#four{
    display: grid;
    grid-template-columns: 50% 50%;

    img, picture{
        width: 100%;
        height: 100%;
    }
}

footer{
    background:#90D4C5;
    text-align:center;
    ul{
        padding-bottom: 10%;
        li{
            padding-left: 5%;
            padding-right: 5%;
        }
    }
    figure{
        img{
            padding-top: 10%;
            padding-bottom: 10%;
        }
    }
    li{
        display: inline;
        a{
            text-decoration: none;
            color:#25564b;
            font-family: 'Barlow', sans-serif;

        }
    }
}

#tree{
    div{
        padding-bottom: 10%;
        p{
            padding-top: 0%;
            padding-bottom: 10%;
        }
        h3{
            padding-top: 0%;
            padding-bottom: 0%;
        }
    }
}


@media screen and ( min-width: 900px){
    #menuToggle
    {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

    }

    #menuToggle a
    {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
    }



    #menuToggle input
    {
    display:none;

    }

    

    #menu
    {
    position: absolute;
    width: 38rem;
    top:-70px;
    right: 0px;
    list-style-type: none;
    background-color: #3EBFFF;
    opacity: 100%;
    }

    #menu li
    {
    font-size: 22px;
    display: inline;
    a{
    color: white;
    background: none;
    padding: 2%;
    }
    }
    #menu li:hover{
            a{
            background: rgba($color: #FFF, $alpha: 0.3);
            border-radius: 25px;
            font-family: 'Fraunces', serif;

            }
    }

    #menuToggle input:checked ~ ul
    {
    transform: none;
    opacity: 100%;
    transition: all ease-in-out 0.2s;
    
    }
    .header{
        background: url("../image/photos/image-header.jpg") no-repeat bottom/cover;
    }
    .essential{
        
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "b a"
        "c d"
        "e f";
        div:nth-child(1){
            grid-area: a;
        }
        div:nth-child(2){
            grid-area: b;
        }
        div:nth-child(3){
            grid-area: c;
        }
        div:nth-child(4){
            grid-area: d;
        }
        div:nth-child(5){
            grid-area: e;
        }
        div:nth-child(6){
            grid-area: f;
        }
        &__size{
            margin:10vw;
            align-items: flex-start;
            text-align: left;
            font-weight: 900;
        }
        #a{
            background: url("../image/photos/image-graphic-design.jpg") no-repeat center/cover;
        }
        #b{
        background: url("../image/photos/image-photography.jpg") no-repeat center/cover;
        }
        
    }
    #a{
        padding-top: 45vh;
        p, h2{
            margin-left: 25%;
        
            margin-right: 25%;
        }
    }
    #four{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    #tree{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        
    }
    .client{
        margin-left: 25vh;
        margin-right: 25vh;
        img{
            width: 15%;
        }
        div{
            padding-top: 0%;
        }
    }
    footer{
        img:hover{
            filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(259deg) brightness(9999%) contrast(88%);
        }
        a:hover{
            color: #fff;
        }
        ul{
            padding-bottom: 3%;
            li{
                padding-left: 2.50%;
                padding-right: 2.50%;
            }
        }
        figure{
            img{
                padding-top: 3%;
                padding-bottom: 3%;
            }
        }
    }
    .essential{
        img, picture{
            width: 100%;
            height: 100%;
        }
    }
    .header{
        h1{
            font-size:4vw;
        }
    }
    #menuToggle span
    {
    display: none;
    opacity: 0;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px){
    .client{
        margin-left: 15vw;
        margin-right: 15vw;
    }
}