@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: px;
    width: 100vw;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh auto;
}


header{
    background: url("../image/mobilep/image-header.jpg") no-repeat bottom/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-family: 'Fraunces', serif;
        color: white;
    }
    ul{
        display: none;
    }
    #logo{
        position:absolute;
        top:10px;
        left:10px;
    }
}

.essential{
    display: grid;
    grid-template-rows: auto auto auto auto 1fr 1fr;
    img{
        width: 100%;
    }
    .size{
        margin: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        *{
            padding-top: 5%;
            padding-bottom: 5%;
        }
        h2, a{
           font-family: 'Fraunces', serif;
            text-decoration: none;
            color:hsl(212, 27%, 19%);
        }
        p{
            font-family: 'Barlow', sans-serif;
            color: hsl(210, 4%, 67%);
        }
    }
    #a{
        background: url("../image/mobilep/image-graphic-design.jpg") no-repeat center/cover;
        height: 70vh;
    }
    #b{
        background: url("../image/mobilep/image-photography.jpg") no-repeat center/cover
    }
}


.client{
    text-align: center;
    img{
        border-radius: 100%;
        width: 25%;
    }
    div{
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
        
        
        }
    h2{
        color:hsl(210, 4%, 67%);
        font-family: 'Fraunces', serif;
    }
    h3{ 
        font-family: 'Fraunces', serif;
        color:hsl(212, 27%, 19%)
    }
    p{
        color:hsl(212, 27%, 19%);
        font-family: 'Barlow', sans-serif;
        
    }
    #grey{
        color: hsl(210, 4%, 67%);
        font-family: 'Barlow', sans-serif;
    }
}

#a{
    
    text-align: center;
    h2{
        font-family: 'Fraunces', serif;
    }
    p{
        font-family: 'Barlow', sans-serif;
    }
}
#b{
    @extend #a;
}

#four{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    img{
        width: 100%;
    }
}

footer{
    background:hsl(168, 34%, 41%);
    text-align:center;
    img{

    }
    li{
        display: inline;
        a{
            text-decoration: none;
            color:hsl(167, 40%, 24%);
        }
    }
}


/* img{
    display: none;
} */