*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    figure{
        position: static;
        img{
            max-width: 100%;
        }
    }
    ul{
        position:absolute;
        top: 2%;
        right: 15%;
        display: flex;
        justify-content: space-between;
    }

    li{
        margin-left: 30%;
        display: inline;
        a{
            text-decoration: none;
            color: white;
        }
    }
    h1{
        position: absolute;
        top:20%;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 42.5%;
        font-size: 500%;

    }
    #logo{
        position:absolute;
        top:2%;
        left: 2%;

    }
}

#six{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    place-items: center;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
}

#tree{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 10%;
            border-radius: 100%;
        }
    }
}

#four{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    img{
        width: 100%;
    }
}

footer{
    display: flex;
    
    }